body{
 font-size:25px;
 font-family:sans-serif;
 /*text-transform: lowercase;*/
 background-color:#fff;
}
h1{
  font-size:45px;
  margin-top:0;
}
h2{
  font-size:35px;
  }
h1,h2,h3,h4,h5,h6{
 margin: 0.5em auto;
}
section{
  border: solid;
  min-height:80vh;
  /*min-height:640px;*/
  /*width:90vw;*/
  padding:2em;
  margin-top: 1em; /* separación entre slides */
  display:block;
  /*
  flex-direction:column;
  flex-wrap:wrap;
  align-content:flex-start;
  align-items:flex-start; 
  */
}
.slide{ /* para cuando hay js */
  display: none;
  position: absolute;
  /*min-height:640px;*/
  min-height:80vh;
  border: none;
  left: 1vw;
  top: 0;
 /* margin-top: 0;*/
}
#numeros{
 position: absolute;
 bottom:1vh;
 right:1vw;
 font-size:small;
}
img{
 max-height:550px;
 max-width:100%;
}

pre{
 background-color: #000;
 padding: 1em;
 color: #ddd;
}
figcaption{
 font-size:small;
}
pre{
	overflow-x:auto;
}

/* móvil*/
@media only screen and (max-width: 600px) {
	body{
		font-size:20px;
		}
	h1{
	  font-size:30px;
	  }
	h2{
	  font-size:25px;
	  }
	section{
		width: auto;
		height: auto;
		min-height: 0;
	}
	#botondiv{
		display:none;
	}
	img{
		max-width:100%;
		max-height:85%;
	}

	ul{
		padding-left: 0.5em;
	}
}

